body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.first{
  background-color: Azure;
  position: relative;
  padding-top: 100px;

}

h1{
  width: 40%;
  margin: auto;
font-family: 'Montez', cursive;
}

p{
font-family: 'Montserrat', sans-serif;
}

.top_cloud{
  position: absolute;
  width: 80px;
  top: 60px;
  right: 500px;

}

.bottom_cloud{
  position: absolute;
  width: 80px;
  top: 160px;
  left: 450px;

}
.second{
 background-color: azure;

  position: relative;

}


.profile{
  border-radius: 40%;
  float: left;
  margin-right: 20px;


}



.Prof{
  position: absolute;
  top: 10px;
  left: 50px;
  text-decoration: underline;
}


.third{
  background-color: azure;
  position: relative;

}

.Interest{
  position: absolute;
  top: 10px;
  left: 40px;

  text-decoration: underline;
}

.Interests{
  padding-top: 20px;
  width: 50%;
  margin: auto;
  padding-bottom: 30px;

}

.Contact {
  padding-top: 20px;
  position: relative;
  background-color: azure;
}


.suggest{
  position: absolute;
  top: 20px;
  left: 50px;
  text-decoration: underline;
}


a:hover{
  background-color: yellow;
}

a:visited{
  background-color: crimson;
}

a:active{
  background-color: blue;
}

img:hover{
  background-color: Violet;

}

.p1{

    font-family: 'Libre Caslon Display', serif;
  text-transform: capitalize;
text-align: justify;
line-height: 2rem;



}

.Profile{
  padding-top: 60px;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.p2{
  font-size: 1rem;
  font-family: 'Libre Caslon Display', serif;
  text-transform: capitalize;
  text-align: justify;
  line-height: 2rem;
}

.cmp{
  float: right;
  margin-left: 40px;
}

.p3{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1rem;
}

.p4{
  font-family: 'Cookie', cursive;
  font-size: 1.3rem;
}

.p5{
  font-family: 'Great Vibes', cursive;
  font-size: 1.6rem;

}

.p6{
   font-family: 'Great Vibes', cursive;
   font-size: 1.4rem;
}

h3{
 font-family: 'Sawarabi Mincho', sans-serif;
  color: #01024e;
}

h3:hover{
  background-color: #f0dd92;
}
